<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
    <%= link_to "Delete #{task.title}",
            task_path(task),
            method: :delete,
            data: { confirm: "Delete?" } %>
  <% end %>
</ul>
